.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3842;
    color: white;
    text-align: center;
}
.footer h1 {
    margin-bottom: 5px;
}
.footer img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.image {
    text-align: center;
}